/CDA-phcaserpt-3.1.1/examples/20251016_TESTING
/CDA-phcaserpt-3.1.1/examples/20251125UnsolicitedLabs
/CDA-phcaserpt-3.1.1/examples/samples/CDAR2_IG_PHCASERPT_R2_STU3.1.1_SAMPLE_AUGMENT_FIRST.xml
/CDA-phcaserpt-3.1.1/examples/samples/CDAR2_IG_PHCASERPT_R2_STU3.1.1_SAMPLE_AUGMENT_SUBS.xml
/CDA-phcaserpt-3.1.1/examples/samples/CDAR2_IG_PHCASERPT_R2_STU3.1.1_SAMPLE_ORIG_DOC.xml
/CDA-phcaserpt-3.1.1/examples/samples/CDAR2_IG_PHCASERPT_R2_STU3.1.1_SAMPLE_TEST.xml
/CDA-phcaserpt-3.1.1/examples/samples/TEST_CDAR2_IG_PHCASERPT_R2_STU3.1.1_SAMPLE.xml
/CDA-phcaserpt-4.0.0/examples/samples/CDAR2_IG_PHCASERPT_E4_S4_SAMPLE_SUSC_TEST.xml
/CDA-phcaserpt-4.0.0/validation/Export
